@media (max-width: 767px) {
  .navbar {
    display: flex;
    justify-content: center;
  }
  .form-control {
    width: 70%;
    margin: 10px auto;
  }

  .btn-entrar {
    margin-bottom: 20px;
  }
}
