/* @font-fac {
    font-family: "sf-pro-display";
    src: url(../fonts/sf-pro-display.ttf);
} */

@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body{
    font-family:'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

#bg-orkut { 
    background-color: #d9e6f7;
    background-position: ;
}

.text-normal { 
    color: black;
}
.text-colored { 
    color: #ED2590;
}

.card-img-overlay {
    top: auto;
}

.color-checkbox { 
    background-color: #ED2590;
}

.btn-entrar { 
    background-color: #ED2590;
    border-color: #ED2590;
    color: #fff;
}
.btn-entrar:hover { 
    background-color: #fff;
    border-color: #ED2590;
    color: #ED2590;
}
.btn-criar-conta { 
    background-color:  #EFF3F8;
    border-color: #ED2590;
    color: #ED2590;
}
.btn-criar-conta:hover { 
    background-color:  #EFF3F8;
    border-color: #ED2590;
    color: #ED2590;
}
